[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pyinstaller = "*"
pycodestyle = "*"

[packages]
docker = "*"
chardet = "*"
urllib3 = "*"
pyyaml = "*"
termcolor = "*"

[requires]
python_version = "3.6"
